<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>あつ森寄贈一覧</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="animals">
            <input type="checkbox" v-model="animalList[0].checked">
            <p>{{animalList[0].name}}　{{animalList[0].checked}}</p>
            <input type="checkbox" v-model="animalList[1].checked">
            <p>{{animalList[1].name}}　{{animalList[1].checked}}</p>
        </div>
    </body>
    <script>
        new Vue({
            el: '#animals',
            data: {
                animalList: [{ name: 'カマキリ', checked: 'true'}, { name: 'モンシロチョウ', checked: 'false' }]
            }
        })
    </script>
    <style>

    </style>
</html>